body {
    background-color: #0f172a;
    color: #f1f5f9;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
}

.game-container {
    background-color: #1e293b;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 750px;
    border: 3px solid #f59e0b; /* Color or/bronze industrial */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #475569;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

h1 { margin: 0; font-size: 1.5rem; color: #f59e0b; text-align: center; }

.stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

#timer-box { color: #ef4444; }
#level-status { color: #38bdf8; }

.badge {
    background-color: #f59e0b;
    color: #0f172a;
    display: inline-block;
    padding: 6px 14px;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 15px;
}

#story-text { font-size: 1.15rem; line-height: 1.6; color: #cbd5e1; }

/* DISSENY DELS ENGRANATGES / CADENAT */
#lock-container {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 30px 0;
    flex-wrap: wrap; /* Es mou a sota si la paraula és molt llarga en mòbils */
}

.dial {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f172a;
    border: 2px solid #475569;
    border-radius: 6px;
    padding: 5px;
}

.dial-letter {
    font-size: 1.8rem;
    font-weight: bold;
    color: #38bdf8;
    width: 35px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    background: #1e293b;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px dashed #475569;
}

.arrow {
    background: none;
    border: none;
    color: #f59e0b;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0 5px;
}
.arrow:hover { color: #fbbf24; scale: 1.2; }

.action-area { text-align: center; margin-top: 20px; }

#submit-btn {
    padding: 14px 28px;
    background-color: #22c55e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow: 0 4px 10px rgba(34, 197, 94, 0.3);
}
#submit-btn:hover { background-color: #4ade80; }

#feedback {
    margin-top: 20px;
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
}

.correct { background-color: rgba(34, 197, 94, 0.2); color: #4ade80; border: 1px solid #22c55e; }
.incorrect { background-color: rgba(239, 68, 68, 0.2); color: #f87171; border: 1px solid #ef4444; }
.hidden { display: none; }
